[Unit]
Description=Speaker mananager
After=jack4speakerman.service

[Service]
Type=forking
Group=audio
User=speakerman
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
ExecStart=/bin/bash -c '/usr/local/share/speakerman/manage-service start'
ExecStop=/bin/bash -c '/usr/local/share/speakerman/manager-service stop'
Restart=always

[Install]
WantedBy=multi-user.target
