[Unit]
Description=JACK service on behalf of speakerman
After=alsa-restore.service 
Before=multi-user.target

[Service]
Type=simple
Group=audio
User=speakerman
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
ExecStart=/bin/bash '/usr/local/share/speakerman/start-jack'

[Install]
WantedBy=multi-user.target