[Unit]
Description=Speaker mananager
After=alsa-restore.service
After=usb-reset.service 
#Requires=dbus-org.freedesktop.hostname1.service
#Requires=dbus-org.freedesktop.locale1.service
#Requires=dbus-org.freedesktop.login1.service
#Requires=dbus-org.freedesktop.network1.service
#Requires=dbus-org.freedesktop.resolve1.service
#Requires=dbus-org.freedesktop.timedate1.service
Requires=dbus.service
Requires=dbus.socket
Requires=sockets.target
Requires=alsa-state.service

[Service]
Type=simple
Group=audio
User=speakerman
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=speakerman
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitRTTIME=20000
ExecStart=/usr/bin/dbus-run-session /usr/local/bin/speakerman
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
#WantedBy=deafult.target
