[Unit]
Description=Speaker mananager
After=alsa-restore.service
After=usb-reset.service 
Requires=sockets.target
Requires=alsa-state.service

[Service]
Type=simple
SyslogIdentifier=speakerman
Group=audio
User=speakerman
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitRTTIME=20000
ExecStart=/usr/local/bin/speakerman
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
