* { 
	padding: 0; 
	margin: 0; 
	border:none;
	font-family: verdana, sans-serif;
}
body { 
	background-color: rgb(64,64,64); color: grey; 
	min-width: 20ex; 
	min-height: 20ex;
	padding: 1ex;
}

.area-metric-sub-avg { position: relative; width: 16ex; height: 16ex;}
.area-metric-sub { position: absolute; left: 1ex; top: 1ex; right: 1ex; bottom: 1ex;}
.area-metric-signal { position: absolute; left: 2ex; top: 2ex; right: 2ex; bottom: 2ex;}
.area-metric-main-avg { position: absolute; left: 4ex; top: 4ex; right: 4ex; bottom: 4ex;}
.area-metric-main { position: absolute; left: 5.5ex; top: 5.5ex; width:5ex; height: 5ex;}

.area-metric-group-name { 
	position:absolute; left:2ex; top:0.25ex; width: 12ex; height: 12ex;
	text-align: center; vertical-align: top;
}
.font-group-name {
	font-size: 300%;
	font-weight: normal;
	color: rgba(255,255,255,0.6);
}

