* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Open Sans', verdana, sans-serif;
}

body {
    background-color: rgb(64, 64, 64);
    color: grey;
    min-width: 20ex;
    min-height: 20ex;
    padding: 1ex;
}

.area-sub-avg {
    display: block;
    position: relative;
    width: 16ex;
    height: 16ex;
    background-color: rgb(255, 0, 64);
}

.area-sub {
    position: absolute;
    left: 1ex;
    top: 1ex;
    right: 1ex;
    bottom: 1ex;
    background-color: rgb(255, 0, 64);
    border: 0.2ex solid rgba(128, 0, 32, 0);
}

.area-main-avg {
    position: absolute;
    left: 1.5ex;
    top: 1.51ex;
    right: 1.5ex;
    bottom: 1.5ex;
    background-color: rgb(255, 0, 0);
    border: 0.15ex solid rgba(80, 0, 0, 0);
    border-radius: 7ex;
}

.area-main {
    position: absolute;
    left: 3ex;
    top: 3ex;
    width: 10ex;
    height: 10ex;
    background-color: rgb(255, 0, 0);
    border: 0.2ex solid rgba(128, 0, 0, 0);
    border-radius: 5ex;
}

.area-signal {
    position: absolute;
    left: 5ex;
    top: 5ex;
    width: 6ex;
    height: 6ex;
    border: 0.2ex solid rgba(0, 128, 0, 0);
    border-radius: 2ex 2ex 2ex 2ex;
}

.area-group-name {
    position: relative;
    left: 4ex;
    top: 5ex;
    width: 8ex;
    height: 8ex;
    text-align: center;
    vertical-align: middle;
}

.font-group-name {
    font-size: 250%;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    vertical-align: middle;
}

#meter-messages, #logicalInputs {
    padding: 1ex 0 0 0;
    border: none;
    margin: 0.5ex 0 0 0;
}

#meter-messages span {
    margin: 0;
    padding: 0 2ex 0 0;
}

.meter-group {
    padding: 0 0 1ex 0;
}

.meter-levels {
    display: block;
    visibility: visible;
    /*	width:20ex;
        height:2ex;*/
    padding: 0;
    margin: 0;
}

.meter-levels div {
    display: inline;
    visibility: visible;
    width: 1ex;
    height: 1ex;
    margin: 0;
    padding: 0.25ex;
}

.meter-level-pixel {
    background-color: black;
    color: black;
}

.meter-title {
    color: white;
    text-align: left;
    padding: 0 0 0.5ex 0;
}

#connection-message {
    color: lightsalmon;
    font-weight: bold;
}

.section-caption {
    color: lightblue;
    font-weight: bold;
}

.section-caption {
  width:40ex;
}

.reset-button {
    margin-right: 1ex;
    font-size: 70%;
    font-weight: bold;
    padding: 0.125ex 0.25em 0.125ex 0.25em;
    color: black;
    background-color: lightblue;
    opacity: 0.7;
    cursor: pointer;
}

.logical-input-label {
    font-width: bold;
    color: white;
}

.logical-input {
    position: relative;
    margin: 0.5ex 0 0 0;
    vertical-align: middle;
    background: none;
    padding: 0.5ex 0.4ex 0 0.6ex;
}

.logical-input * {
    vertical-align: middle;
}

.logical-input-unmuted {
    opacity: 1.0;
}

.logical-input-muted * {
    opacity: 0.4;
}

.logical-input-label {
    display: inline-block;
    font-weight: normal;
    color: white;
    text-overflow: ellipsis;
    padding-left: 1ex;
}

.logical-input-mute {
    display: inline-block;
    align-content: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    font-size: 70%;
    border-color: rgba(64,192,255,0.5);
    padding: 0 1ex 0 1ex;
    margin-right: 1.5ex;
    margin-left: 0;
}

.logical-input-mute-enabled {
    background: rgba(64,192,255,1.0);
    color: black;
    font-weight: bold;
    opacity: 0.8;
}

.logical-input-mute-disabled {
    background: rgba(0,0,0,0.0);;
    color: rgba(64,192,255,0.5);
    font-weight: normal;
}

.logical-group-group-muted {
    opacity: 0.5;
}

.logical-input-slider {
    display: inline-block;
    width: 38ex;
}

.logical-input-volume {
    display: inline-block;
    width: 1.8em;
    max-width: 1.8em;
    text-align: left;
    text-overflow: ellipsis;
    font-size: 80%;
    font-weight:bold;
}
